* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(/img/sean-stratton-ObpCE_X3j6U-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 60vh;
}

/* Mobile */
.team-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.team-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header .mask{
    background-color: hsla(0, 0%, 0%, 0.7);
}

.people-gallery {
    background-image: url(/img/uits-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    position: relative;
    top: 7rem;
}

.people {
    position: relative;
    height: 100%;
    width: calc(100vw - 10rem);
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: -5.3rem; 
}

.people-container-bg {
    position: absolute;
    background-color: white;
    border-radius: 32px;
    padding: 3rem;
    width: calc(100% - 15rem);
    height: calc(100% + 6rem);
    right: 0;
    left: 12rem;
    top: -8rem;
} 

.tab button{
    border: none;
    width: 75%;
}

.people .row {
    /* background-color: white; */
    position: relative;
}

.people-roles {
    display: flex;
    flex-direction: column;
    background-color: #e6f6ee;
}

.tab .rounded-circle > i {
    background-color: #2b4e32;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: background-color 0.3s ease;
}

button.active{
    background-color: #2b4e32;
    color: #fff;
    width: 85%;
    transition: width 1s;
    font-size: larger;
}

button:not(.active):hover{
    background-color: #4d6a52;
    color: white;
}

/* :hover .rounded-circle i{
    background-color: white;
    color: green;
} */

.active .rounded-circle i{
    background-color: #fff;
    color: #2b4e32;
} 

.rankName{
    display: none;
}

span.title{
    color:  #114b1c;
    color: green;
    font-size: larger;
}

span.position{
    color: #4d6a52;
    
}

.people-roles-item {
    color: #2b4e32;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    /* min-width: 12rem; */
    box-shadow: #caebdb 0px 2.5px 12px;
    padding: .3rem .25rem;
}


.people-images {
    /* background-color: white; */
    margin-left: auto;
    margin-right: auto;
}

.people-images-item {
    margin-bottom: 2rem;
}

.people-images-item > div {
    height: 24rem;
    position: relative;
}

.people-images-item-image {
    position: absolute;
    border-radius: 2rem;
    overflow: hidden;
    height: 100%;
}

.people-images-item-image img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.people-images-item-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #2b4e32;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: #caebdb 0px 2.5px 12px;
}

/* .people-images-item-details span{
    
} */

@media only screen and (width > 1500px) {
    /* .people-container-bg {
        position: absolute;
        background-color: white;
        border-radius: 32px;
        padding: 3rem;
        width: 65%;
        height: calc(100% + 6rem);
        margin: 0 auto;
        left: 12rem;
        top: -11rem;
    } */
}

/* @media only screen and (width < 1500px) {
    .people-container-bg {
        position: absolute;
        background-color: white;
        border-radius: 32px;
        padding: 1rem;
        width: calc(100vw - 10%);
        margin: 0 auto;
        height: calc(100% + 6rem);
        right: 0;
        left: 0;
        top: -11rem;
    }jjj 
} */

@media only screen and (width <= 1200px) {
    .people-roles {
        display: block;
        flex-direction: row;
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-bottom: 2rem;
    }

    .people-container-bg {
        position: absolute;
        background-color: white;
        border-radius: 32px;
        padding: 1rem;
        width: calc(100% - 2rem);
        margin: 0 auto;
        height: calc(100% + 6rem);
        right: 0;
        left: 0;
        top: -11rem;
    }

    .people {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: -7.5rem;
    }
}

@media only screen and (width <= 992px) {
    .people-container-bg {
        position: absolute;
        background-color: white;
        border-radius: 32px;
        padding: 1rem;
        width: calc(100% - 6rem);
        margin: 0 auto;
        height: calc(100% + 6rem);
        right: 0;
        left: 0;
        top: -11rem;
    }
}

@media only screen and (width <= 768px) {
}

@media only screen and (width <= 550px) {
    .people-container-bg {
        width: 100%;
    }
}
