* {
    margin: 0;
    padding: 0;
}


/* CONTACT US  */
body {
  background-image: url(/img/uits-bg.png);
}
.contact-card {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.contact-card i {
  font-size: 2rem;
  color: #28a728;
  margin-bottom: 10px;
}
.contact-title {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.2rem;
}
.contact-info {
  color: #6c757d;
}
.social-icons a {
  color: #28a728;
  margin-right: 15px;
  font-size: 1.5rem;
}