* {
    margin: 0;
    padding: 0;
}

body{
    background: url(/img/uits-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    position: relative;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .news-image {
    width: 100%;
    height: 50%;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .card:hover .news-image {
    transform: scale(1.1);
    opacity: 0.9;
  }

  .card,
  .card-title{
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  
  .card-title::after{
    content: '';
    position: absolute;
    bottom: 0; /* Position the line directly under the text */
    left: 0;
    width: 0;
    height: 2px;
    background-color: red; /* Line color */
    transition: width 0.3s ease; /* Smooth transition */
  }
  
  .card-title:hover::after{
    width: 100%; /* Line expands to full width on hover */
  }
  
  
  /* .news-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .news-info {
    opacity: 1;
  }
  
  .news-info .category {
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .news-info .title {
    font-size: 16px;
    margin: 0;
  } */
  

  @media only screen and (width <= 550px) {
    .card{
      padding-bottom: 3rem;
    }
  }