*{
    margin: 0;
    padding: 0;
}

body{
  line-height: 1.7;
}


.hero-section {
  background-color: #f0f8ff;
  padding: 4rem 0;
}

.department-card i.icon-size {
  font-size: 3rem;
  color: #28a745;
}

.card {
  border: none;
  border-radius: 1rem;
}

.card-body h5 {
  font-weight: bold;
}

.card-body p {
  font-size: 0.9rem;
  color: #6c757d;
  text-align: justify;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.director-message img {
  border-radius: 15px;
  width: 100%;
  height: 750px;
}

.director-message{
  background: url(/img/HERO.png);
}

p.lead{
  text-align: justify;
}

ul.list{
  text-align: left;
}

/* CONTACT SECTION */
.contact-details i {
  margin-right: 10px;
}

.social-icons a {
  color: #6c757d;
}

.social-icons a:hover {
  color: #0d6efd;
}
